@charset "utf-8";

.main{
  margin: auto;	
  text-align:center; 
  width: 100%;
  height: 100%;
}


/*waveを描画*/

canvas{
    position: absolute;
    bottom: 0;
  left:0;
    width: 100%;
}
