@charset "utf-8";

h1{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20%;
}

.main{
  text-align: center;
}

canvas{
    position: absolute;
    bottom: 0;
    left:0;
    width: 100%;
}
