@charset "utf-8";

body{
  width:100%; /*ページ全体の幅は100%と指定する*/	
  text-align:center; /*ページ全体を中央揃えにする*/
}

h1{
    margin: 0px auto;
}
/*waveを描画*/

canvas{
    position: absolute;
    bottom: 0;
  left:0;
    width: 100%;
}
